/* src/App.css */
.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 5px 5px 8px #333;
}

h1, h2 {
  font-weight: bold;
  color: #8d5524;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input {
  margin: 5px 0;
  padding: 10px;
}

button {
  padding: 10px;
  background-color: #e0ac69;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style-type: none;
  padding: 0;
  height: 300px;
  overflow-y: scroll;

}

body {
  font-family: Arial, sans-serif;
  background-image: url('https://img.freepik.com/free-photo/natural-ecology-tropical-resort-pattern_1253-624.jpg?t=st=1729360907~exp=1729364507~hmac=a05a69b86e9505910636350a2652cdbc62f196f0d6cf5201712ed9154969a369&w=1380');
  background-size: cover;
  color: #333;
}

#selector {
  width: 120px;  
  height: 42px;
  font-size:medium;
}

.select { 
  height: 42px;
  font-size:medium;
}

.cd {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-wrap: anywhere;
  padding: 5px;
}

.ul button{
  padding: 10px;
  margin-left: 5px;
  font-weight: bold;
  background-color: #e0ac69;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ul li{
  padding: 2px;
  margin: 5px;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit {
  margin-right:5px;
}

button#dlt:hover {
  background: rgb(190, 79, 79);
  color: antiquewhite;
}

button.edit:hover {
  background: #33d38b;
  color: rgb(2, 38, 62);
}